
@import url('./reset.css');
@import url('./dynamic-color.css');
@import url('./color.css');
@import url('../font/vazirmatn.css');

:root {
  color-scheme: dark;
}

body {
  background-color: hsl(var(--ref-palette-neutral100));
  transition: background-color 0.5s ease;
  color: hsl(var(--ref-palette-neutral0));
  font-size: 1.3rem;
  line-height: 2;
  font-weight: 400;
}

::-moz-selection {
  background: hsl(var(--ref-palette-primary50));
  color: hsl(var(--ref-palette-neutral100));
  text-shadow: none;
}

::selection {
  background: hsl(var(--ref-palette-primary50));
  color: hsl(var(--ref-palette-neutral100));
  text-shadow: none;
}

.main {
  width: 1000px;
  margin: 0 auto;
}

.border-align {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 24px;
  border: 1px solid hsl(var(--ref-palette-neutral0));
  border-radius: 19px;
}

.space-align {
  margin-top: 1em;
  margin-bottom: 1em;
  /* padding: 24px; */
  border-radius: 19px;
}

/* ******************************* */
/* *********** HEADER ************ */
/* ******************************* */

.site-logo {
  margin-top: 2em;
  margin-bottom: 1em;
}
.site-logo .title {
  margin: 0;
  padding: 0;
  line-height: 1.167;
  text-align: center;
  font-size: 3em;
  /* border-bottom: 1px solid var(--sys-color-outline-variant); */
}

.site-logo .title a {
  color: hsl(var(--ref-palette-neutral0));
  text-align: center;
  overflow: hidden;
  position: relative;
}
.site-logo .title a strong {
  text-indent: -9999px;
  position: absolute;
}
.site-logo .title a svg {
  height: 50px;
  top:0px;
  max-width: 100%;
}

.site-logo .slogan {
  text-align: center;
  color: hsl(var(--ref-palette-neutral60));
}

.main-menu {
  font-size: 1em;
  margin-bottom: 1em;
  /* border-bottom-color: var(--sys-color-on-surface); */
  /* border-bottom-style: double;
  border-bottom-width: 4px; */
}

.main-menu ul {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.main-menu ul a {
  color: hsl(var(--ref-palette-neutral0));
}

.dark-mode-switch {
  position: relative;
  display: flex;
  width: 3em;
  height: 25px;
  border-radius: 25px;
  background: hsl(var(--ref-palette-neutral80));
  justify-content: space-between;
}

.dark-mode-switch .dark {
  opacity: 1;
  background: hsl(var(--ref-palette-neutral30));
  border-radius: 50%;
  padding: 3px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}

.dark-mode-switch .light {
  opacity: 0;
}

.dark .dark-mode-switch .dark {
  opacity: 0;
}

.dark .dark-mode-switch .light {
  opacity: 1;
  background: hsl(var(--ref-palette-neutral30));
  border-radius: 50%;
  padding: 3px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}


/* ******************************* */
/* *********** SLIDER ************ */
/* ******************************* */

.full-width-slider {
  aspect-ratio: 3 / 1;
  border-radius: 1rem;
  margin-bottom: 1em;
}

swiper-container {
  overflow: hidden;
}
swiper-container swiper-slide
{
  display: none;
}

swiper-container.swiper-initialized swiper-slide
{
  display: block;
}

.fix-to-parrent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.fix-to-parrent * {
  max-width: 100%;
  max-height: 100%;
}


/****************************/
.split-three-child {
  display: grid;
  grid-template-columns: 30% 36% 30%;
  gap: 2%;
}

.split-two-child-right {
  display: grid;
  grid-template-columns: 64% 34%;
  gap: 2%;
  margin-bottom: 1em;
}

.split-two-child-left {
  display: grid;
  grid-template-columns: 34% 64%;
  gap: 2%;
  margin-bottom: 1em;
}

.text-align-justify
{
  text-align: justify;
}

/************ Typography ****************/
.typography-align {
  line-height: 2;
}
.typography-align { color: hsl(var(--ref-palette-neutral30)); }
.typography-align a { color: hsl(var(--ref-palette-neutral0)); }
.typography-align blockquote{background: hsl(var(--ref-palette-neutral90)); color: hsl(var(--ref-palette-neutral0)); padding: 15px; border-radius: 6px; margin-block:1em; }
.typography-align p {margin-bottom: 15px;}
/* .typography-align ol li,.typography-align ul li{font-size: 14px;} */
.typography-align ul li{list-style:inside disc;}
.typography-align ol li {list-style:decimal inside;}
.typography-align .alignright {float:right; margin:0px 0 12px 12px;max-width:100%;}
.typography-align .alignleft {float:left; margin:12px 12px 12px 0;max-width:100%;margin-right: 20px;}
.typography-align .aligncenter {display:block; margin:12px auto;max-width:100%;}
.typography-align h1,
.typography-align h2,
.typography-align h3,
.typography-align h4,
.typography-align h5,
.typography-align h6 { margin-bottom: 15px; line-height:2rem; font-weight: bold;}
.typography-align h1 {font-size: 1.7rem;}
.typography-align h2 {font-size: 1.6rem;}
.typography-align h3 {font-size: 1.5rem;}
.typography-align h4 {font-size: 1.4rem;}
.typography-align h5 {font-size: 1.3rem;}
.typography-align h6 {font-size: 1.3rem;}
.typography-align table{margin:20px 0;}
.typography-align .wp-caption{position: relative;}
.typography-align .wp-caption-text{position: absolute; top: 0px; right:0px; background: hsl(var(--ref-palette-neutral90)); padding: 2px;padding-right: 10px;padding-left: 10px;opacity: 0.7;}
.typography-align table td {border:1px solid hsl(var(--ref-palette-neutral90)); padding:3px 6px; color: hsl(var(--ref-palette-neutral30));}
.typography-align hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsl(var(--ref-palette-neutral90));
  margin: 1em 0;
  padding: 0;
}
.typography-align strong{font-weight:bold;}
.typography-align img{max-width:100%;border-radius: 9px;}
.typography-align input[type="text"],.typography-align input[type="submit"],
.typography-align input[type="email"],.typography-align input[type="number"],
.typography-align input[type="password"],
.typography-align select,
.typography-align textarea ,
.typography-align input[type="tel"],
.wpcf7-form-control-wrap input[type="tel"],.wpcf7-form-control-wrap input[type="text"], 
.wpcf7-form-control-wrap input[type="email"],
.wpcf7-form-control-wrap input[type="number"]{
	/*border:1px solid #bdbdbd;
	box-shadow:inset 0 0 15px 5px #f6f6f6;*/
	border:0px;
	padding:0 8px;
	color:#777;
	margin-top:5px;
	-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
}
.typography-align input[type="text"],.typography-align select,
.typography-align input[type="email"],.typography-align input[type="number"],
.typography-align input[type="password"],.typography-align input[type="tel"],
.typography-align select, .typography-align textarea,.wpcf7-form-control-wrap input[type="tel"],.wpcf7-form-control-wrap input[type="text"], 
.wpcf7-form-control-wrap input[type="email"],
.wpcf7-form-control-wrap input[type="number"]{
	width:60%;
	height:38px;
}
.wpcf7-submit,
.typography-align input[type="submit"] {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.typography-align audio,
.typography-align canvas,
.typography-align iframe,
.typography-align img,
.typography-align svg,
.typography-align video {
  vertical-align: middle;
}
 
.typography-align fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.typography-align textarea {
  resize: vertical;
}
 
.typography-align .hidden,
.typography-align [hidden] {
  display: none !important;
}

.text-center {
  text-align: center;
}

/******** Button ********/
.btn {
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.375em;
  box-shadow: none;
  display: inline-flex;
  font-size: 0.9rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  background: none;
  margin-bottom: 5px;
}

.btn-primary {
  /* background-color: hsl(var(--ref-palette-neutral100)); */
  border-color: hsl(var(--ref-palette-neutral30));
  border-width: 1px;
  color: hsl(var(--ref-palette-neutral30));
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.btn-icon {
  padding: 5px !important;
  display: inline-block;
  height: auto;
}

.section {
  margin-bottom: 1em;
}

.list-profile {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.list-profile > * {
  width: 19%;
}

.profile {
  display: block;
  text-align: center;
  color: hsl(var(--ref-palette-neutral0));
  margin-bottom: 20px;
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
}

.profile .title {
  font-size: 1em;
}

.profile .title.small {
  font-size: 0.7em;
}

.profile.mini {
  display: inline-flex;
}

.profile.mini .title.small {
  margin: 0px;
}

.profile.mini img {
  margin-inline-end: 10px;
}

.profile.mini .content {
  text-align: start;
}

.profile.mini.inline {
  gap: 5px;
  align-items: center;
  margin-bottom: 0px;
}

.w-100 {width: 100%;}
.w-90 {width: 90%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}
.w-30 {width: 30%;}
.w-20 {width: 20%;}
.w-10 {width: 10%;}


.h-100 {height: 100%;}
.h-90 {height: 90%;}
.h-80 {height: 80%;}
.h-70 {height: 70%;}
.h-60 {height: 60%;}
.h-50 {height: 50%;}
.h-40 {height: 40%;}
.h-30 {height: 30%;}
.h-20 {height: 20%;}
.h-10 {height: 10%;}

.w-100px {width: 100px;}
.w-90px {width: 90px;}
.w-80px {width: 80px;}
.w-70px {width: 70px;}
.w-60px {width: 60px;}
.w-50px {width: 50px;}
.w-40px {width: 40px;}
.w-30px {width: 30px;}
.w-20px {width: 20px;}
.w-10px {width: 10px;}

.mt-0 {
  margin-top: 0px !important;
}

.mb-1 {
  margin-bottom: 20px !important;
}

.list-archive,
.list-archive > *,
.list-archive > * > a{
  width: 100%;
}

.list-archive > * > a {
  color: hsl(var(--ref-palette-neutral0));
}

.list-archive > * {
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(var(--ref-palette-neutral0));
}

.mag-title {
  margin-bottom: 1em;
  display: flex;
  align-content: space-between;
}

.mag-title .site-logo {
  display: inline-block;
  margin: 0;
}

.mag-title .site-logo .title a {
  text-align: inherit;
}

.mag-title  .slogan {
  text-align: inherit;
}

.mag-title .site-logo .title a svg {
  height: 33px;
}

.mag-info {
  display: flex;
  flex-direction: column;
  color: hsl(var(--ref-palette-neutral30));
  margin-inline-start: auto;
}

.mag-info > .title {
  line-height: 1;
  font-weight: 600;
  margin-bottom: 0.7em;
}

.display-inline-block {
  display: inline-block;
}

.gray-text {
  color: hsl(var(--ref-palette-neutral30));
}

.sub-text {
  font-size: 14px;
}

.clear-fix {
  width: 100%;
  clear: both;
}

.page-break {
  break-after: page;
}

.show-in-print {
  display: none;
}

@media print {
  .show-in-print {
    display: block;
  }
}

.image-roving {
  height: 100%;
}

.image-roving {
  height: 100%;
}

.end-page {
  margin-bottom: 2em;
}


@media only screen and (max-width: 980px) {
  .main {
    width: 93%;
  }
  .main-menu ul {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }

  .main-menu.show ul{
    max-height: 2000px;
  }
  .site-logo .title {
    width: calc(100% - 100px);
    display: inline-block;
  }

  .split-two-child-right {
    display: flex;
    flex-direction: column-reverse;
  }

  .typography-align img {
    display: block;
    float: none !important;
    width: 70%;
    margin: 12px auto !important;
  }

  .mag-title {
    display: block !important;
    text-align: center;
  }
  .dark-mode-switch {
    margin: 0 auto;
  }
  .author-list-page h1{
    font-size: 1.5em;
  }
  .list-profile > * {
    width: 46%;
  }
}
